:root {
  --color-primary: #296df6;
  --icon-color: #3489ea;
  --active-text-color: #101010;
  --brand-white: rgb(255, 255, 255);
}

/* hide the add story button */

/* .search-field + div:has(button) {
  display: none;
} */
div.search-field,
div.css-1sx5ibh:has(input:focus),
div.css-1sx5ibh:has(input:active) {
  height: 40px;
  border-radius: 8px;
  background: rgba(94, 104, 111, 0.1);
  box-shadow: none;
}

div.search-field code {
  height: 34px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-white);
  border-radius: 6px;
  font-size: 14px;
  margin: 2px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.04);
  gap: 5px;
}

div.search-field code span {
  font-size: 18px;
}
div.search-field input {
  color: #5e686f;
}

div.search-field button[title="Tag filters"] {
  display: none;
}
div.sidebar-subheading {
  font-size: 12px;
}

div.sidebar-item button,
div.sidebar-item a {
  height: 38px;
}
div.sidebar-item {
  border-radius: 8px;
  margin: 6px 0;
}
div.sidebar-item button {
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 8px;
}
div.sidebar-item button i {
  font-size: 14px;
  color: var(--icon-color);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.sidebar-item:has(button[aria-expanded="true"]),
div.sidebar-item[data-ref-id="storybook_internal"]:not(
    [data-selected="true"]
  )[data-nodetype="component"]:has(button[aria-expanded="true"]) {
  background-color: var(--color-primary);
  color: var(--brand-white);
  font-weight: 700;
}

div.sidebar-item button[aria-expanded="true"] i {
  color: var(--brand-white);
}
/* arrow to right aligned */
div.css-1l40f7d {
  position: absolute;
  right: 12px;
}
div.sidebar-item .css-1h0aucu {
  position: absolute;
  right: 12px;
}
div.sidebar-item button[aria-expanded="true"] svg path {
  stroke-width: 1.5px;
  fill: var(--brand-white);
}

div.sidebar-item[data-selected="true"],
div.css-13zuqpq[data-selected="true"].css-13zuqpq[data-selected="true"]:hover,
div.css-13zuqpq[data-selected="true"].css-13zuqpq[data-selected="true"]:focus {
  color: var(--active-text-color);
  background: var(--brand-white);
  font-weight: 700;
  border-radius: 8px;
  /* border: 1px solid rgba(0, 0, 0, 0.04); */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
div.css-13zuqpq {
  margin-top: 6px;
}
div.css-13zuqpq[data-selected="true"] svg {
  color: var(--color-primary);
}

div.sidebar-item a {
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
div.css-99l9qv {
  margin-top: 0;
}

div.sb-bar {
  box-shadow: rgba(94, 104, 111, 0.1) 0px -1px 0px 0px inset;
}

.sb-bar button:focus,
.sb-bar button:active,
.sb-bar button:hover {
  background-color: rgba(41, 109, 246, 0.14) !important;
  box-shadow: none !important;
  color: #5e686f !important ;
}



[data-nodetype="story"],
[data-nodetype="document"] {
  transition: all 0.2s ease;
}

img.css-32o4gv {
  max-width:100% !important;
}

/* override */
/* leftnav category style like basic, layout */
.sidebar-subheading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    min-height: 28px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: rgb(92, 104, 112);
}

.sidebar-subheading .css-bk8cc2{
    all: unset;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    height: 28px;
    padding: 0px 8px;
    border-radius: 4px;
    transition: color 150ms, box-shadow 150ms;
    gap: 6px;
    font-size: 12px;
}

.sidebar-subheading .css-bk8cc2 .css-ea3kpv{
  position: absolute;
  right: 12px;
}

.sidebar-subheading .css-bk8cc2:hover, .sidebar-subheading .css-bk8cc2:focus, .sidebar-item.css-1dgq3e0:hover, .sidebar-item.css-1dgq3e0:focus
{
  color: inherit !important;
  background: rgba(41, 109, 246, 0.07) !important;
  outline: none !important;
}

.sidebar-item .css-1dgq3e0, .sidebar-item .css-1lozqr5[data-displayed="off"], .sidebar-item .css-1lozqr5:hover {
  display: none !important;
}

div.sidebar-item:has(button[aria-expanded=true]):hover, div.sidebar-item[data-ref-id=storybook_internal]:not([data-selected=true])[data-nodetype=component]:has(button[aria-expanded=true]):hover, div.sidebar-item:has(button[aria-expanded=true]):focus, div.sidebar-item[data-ref-id=storybook_internal]:not([data-selected=true])[data-nodetype=component]:has(button[aria-expanded=true]):focus {
  background-color: var(--color-primary) !important;
  color: var(--brand-white) !important;
  font-weight: 700 !important;
}

.sidebar-item.css-1dgq3e0[data-selected="true"].css-1dgq3e0[data-selected="true"]:hover, .sidebar-item.css-1dgq3e0[data-selected="true"].css-1dgq3e0[data-selected="true"]:focus {
  background: #FFF !important;
  }

div.sidebar-item[data-selected=true], div.css-13zuqpq[data-selected=true].css-13zuqpq[data-selected=true]:hover, div.css-13zuqpq[data-selected=true].css-13zuqpq[data-selected=true]:focus {
  color: var(--active-text-color) !important;
  background: var(--brand-white) !important;
  font-weight: 700 !important;
  border-radius: 8px !;
  box-shadow: 0 2px 4px #0000000f !important;
}

.sidebar-item .css-1v7fbf1, .sidebar-item .css-ea3kpv{
  position: absolute !important;
  right: 12px !important;
}

.sidebar-item[data-selected="true"] .css-99l9qv svg {
  color: var(--color-primary);
}

.sidebar-item .css-c33v33{
  width: 100%;
    cursor: pointer;
    color: inherit;
    display: flex;
    gap: 6px;
    flex: 1 1 0%;
    align-items: center;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* leftnav beside search */
.search-field + .css-m2r9xm{
  display: none !important;
}

.search-field .css-100gnh2[aria-label='Tag filters']{
  display: none !important;
}

.search-field code span {
    font-size: 12px !important;
}

/* leftnav top content */
.sidebar-header + .css-13yxcra{
  display: none !important;
}

.sidebar-header .css-otrbhk::after, .sidebar-header .css-v5d7qp::after  {
    display: none !important;
}


/* test runs */
.css-vg6lu[id='sidebar-bottom-wrapper']{
  display: none !important;
}

