/* This theme file is for storybook customizations like storybook sidebar, manager toolbar header etc */

:root {
  --color-primary: #296df6;
  --icon-color: #3489ea;
  --active-text-color: #101010;
  --brand-white: rgb(255, 255, 255);
}

/* hide the add story button */

.search-field + div:has(button) {
  display: none;
}

div.search-field,
div.search-field:has(input:focus),
div.search-field:has(input:active) {
  height: 40px;
  border-radius: 8px;
  background: rgba(94, 104, 111, 0.1);
  box-shadow: none;
}

div.search-field code {
  height: 34px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-white);
  border-radius: 6px;
  font-size: 14px;
  margin: 2px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.04);
  gap: 5px;
}

div.search-field code span {
  font-size: 18px;
}

div.search-field input {
  color: #5e686f;
}

div.search-field button[title="Tag filters"] {
  display: none;
}

div.sidebar-subheading {
  font-size: 12px;
}

div.sidebar-item button,
div.sidebar-item a {
  height: 38px;
}

div.sidebar-item {
  border-radius: 8px;
  &:hover {
    background-color: rgba(41, 109, 246, 0.14);
    color: var(--active-text-color);
  }
  button div i.fas + div {
    position: absolute;
    right: 12px;
  }
}

div.sidebar-item button {
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 8px;
}

div.sidebar-item button i {
  font-size: 14px;
  color: var(--icon-color);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.sidebar-item:has(button[aria-expanded="true"]),
div.sidebar-item[data-ref-id="storybook_internal"]:not(
    [data-selected="true"]
  )[data-nodetype="component"]:has(button[aria-expanded="true"]) {
  background-color: var(--color-primary);
  color: var(--brand-white);
  font-weight: 700;
}

div.sidebar-item button[aria-expanded="true"] i {
  color: var(--brand-white);
}

button[aria-label="Open context menu"] {
  display: none;
}

div.sidebar-item .css-1h0aucu {
  position: absolute;
  right: 12px;
}

div.sidebar-item button[aria-expanded="true"] svg path {
  stroke-width: 1.5px;
  fill: var(--brand-white);
}
div.sidebar-item[data-selected="true"],
div.sidebar-item[data-selected="true"]:hover,
div.sidebar-item[data-selected="true"]:focus {
  color: var(--active-text-color) !important;
  background: var(--brand-white) !important;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  margin-top: 8px;
  svg {
    color: var(--color-primary) !important;
  }
}

div.sidebar-item + div.sidebar-item {
  margin-top: 6px !important;
}
div.sidebar-item[data-nodetype="story"]{
  button,a{
    padding-left: 40px;
  }
}
div.sidebar-item[data-selected="true"] svg {
  color: var(--color-primary);
}

div.sidebar-item a {
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

div.css-99l9qv {
  margin-top: 0;
}

div.sb-bar {
  box-shadow: rgba(94, 104, 111, 0.1) 0px -1px 0px 0px inset;
}

.sb-bar button:focus,
.sb-bar button:active,
.sb-bar button:hover {
  background-color: rgba(41, 109, 246, 0.14) !important;
  box-shadow: none !important;
  color: #5e686f !important;
}

[data-nodetype="story"],
[data-nodetype="document"] {
  transition: all 0.2s ease;
}

/* Need to hide the tab in panel, not able to hide from -> @.storybook -> preview.ts */
div[data-key="storybook/interactions/panel"]{
    display:none !important;
}

div[data-key="storybook/actions/panel"]{
    display:none !important;
}

/* Storybook manager tool i.e top header which has view, addon panel etc to allow popover visible for applauncher */
section.sb-bar{
  overflow: visible !important;
}

/* App Launcher - WM Ecosystem */
section.sb-bar .app-launcher-wrapper{
  position: relative;
  z-index: 1001;
}

section.sb-bar .app-launcher-wrapper button div{
  gap: 2px !important;
}

section.sb-bar .app-launcher-wrapper button div div{
  background-color: rgb(92, 101, 112) !important;
  width: 3px !important;
  height: 3px !important;
}